@model FilminurkTARpe24_Markus.Models.FavoriteLists.FavoriteListUserDetailsViewModel
@{
	int rowNumber = 1;
}
<div>
	@if (Model.IsReported == true)
	{
		@:Sinu nimekiri rikub kogukonna reegleid<br/> 
		@:Oleme seadnud nimekirja privaatseks kuni admin selle üle vaatab.
	}
	<table>
		<tr>@Model.ListName</tr>
		<tr>@*<partial name="_ImageIndex" model="@Model.Image"></partial>*@IMAGE HERE</tr>
		<tr>@Model.IsPrivate</tr>
	</table>
</div>
<div>
	<form method="post">
	<table class="table">
	@foreach (var movie in Model.ListOfMovies)
	{
		<tr> 
			<table class="table" style="border:thick;">
				<tr>
					<td colspan="2">@movie.Title</td>
				</tr>
				<tr>
					<td>(IMAGE HERE)</td>
					<td>
						<table>
							<tr>@movie.Description</tr>
							<tr>@movie.Director</tr>
							<tr>@movie.TimesWatched</tr>
							<tr>@movie.CurrentRating</tr>
							<tr>@movie.Budget</tr>
						</table>
					</td>
				</tr>
			</table>
		</tr>
	}
	</table>
	<div>
		<a asp-action="UserDelete" asp-controller="FavoriteListsController" asp-route-id="@Model.FavoriteListID" type="
submit" class="btn btn-danger" value="Kustuta Nimekiri"/>
			@*<a asp-action="UserTogglePrivacy" asp-controller="FavoriteListsController" asp-route-id="@Model.FavoriteListID" type="*@
submit" class="btn btn-warning" value="Muuda Nimekiri Privaatseks"/>
		<a asp-action="UserEditList" asp-controller="FavoriteListsController" asp-route-id="@Model.FavoriteListID" type="
submit" class="btn btn-success" value="Muuda Nimekirja Sisu ja Andmeid"/>
		<a asp-action="Index" asp-controller="FavoriteListsController" class="btn btn-light">Tagasi</a>
		</div>
	</form>
</div>